<%- include('header') %>

      <div class="container">
 <% if(success!=''){%>
                <div class="alert alert-success text-center" role="alert" >
                  <b>
                    <%= success %>  </b></div>
                    <% } %>
        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
            <div class="text-center dash1">Add New Password</div>
            <div class="dash2">
            <form action="/add-new-password" method="post" role="form" class="m-5">
              <div class="form-group">
                  <label for="exampleFormControlSelect1"><b>Password Details</b></label>
                  <select class="form-control" id="exampleFormControlSelect1" name="pass_cat">
                    <% if(records.length>0){
                      records.forEach(function(row){
                        %>
                    
                    <option value="<%= row.password_category %>"><%= row.password_category %></option>
                      <%   })
                    } %>
                  </select>
                </div>
      
                <div class="form-group">
                  <label for="editor"><b>Project Name</b></label>
                  <input type="text" class="form-control" name="project_name" placeholder="Your project name">
                </div>
        
              <div class="form-group">
                <label for="editor"><b>New Password Name</b></label>
                <textarea class="form-control" id="editor" name="password_detail" placeholder="Your Password Category name"></textarea>
              </div>
              <button type="submit" class="btn rg1">Submit</button>

              <!-- <button type="submit" class="btn btn-success">Submit</button> -->
      
          </form>
          </div>
          <div class="col-md-2">
          </div>
          </div>
        </div>
        <!-- <% if(success!=''){%>
          <div class="alert alert-success text-center" role="alert" >
            <b>
              <%= success %>  </b></div>
              <% } %> -->
        <!-- <% if(success!=''){ %>
          <%= success %>
        <% }%> -->
       
      </div>
    
      <div style="margin-left:44%;" class="mt-2"><a href="/view-all-password"><button class="btn ml-2 dash3">View all Password List! </button></a></div>

    <!-- <a href="/view-all-password">View all Password List! </a> -->
    <!-- <h1>Logged In as: <% if(loginUser){ %><%= loginUser %><% } %></h1> -->
    <script>
      CKEDITOR.replace('editor');
    </script>

<%- include('footer') %>
