<%- include('header') %>

      <div class="container">

        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
            <div class="text-center dash1">Edit Password Details</div>
            <div class="dash2">
              <!-- <% if(success!=''){%>
                <div class="alert alert-success text-center" role="alert" >
                  <b>
                    <%= success %>  </b></div>
                    <% } %> -->
        <!-- <% if(success!=''){ %>
          <%= success %>
        <% }%> -->
        <!-- <h2>Edit Password</h2> -->
              <form action="/view-all-password/edit/<%= record._id %>" method="post" role="form" class="m-5">

        <input type="hidden" name="id" value="<%= record._id %>">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Password Details</label>
            <select class="form-control" id="exampleFormControlSelect1" name="pass_cat">
              <% if(records.length>0){
                records.forEach(function(row){
                  %>
              
              <option value="<%= row.password_category %>" <% if(row.password_category==record.password_category){ %> selected <% } %>><%= row.password_category %></option>
                <%   })
              } %>
            </select>
          </div>

          <div class="form-group">
            <label for="editor">Project Name</label>
            <input type="text" class="form-control" value="<%= record.project_name %>" name="project_name" placeholder="Your project name">
          </div>
  
        <div class="form-group">
          <label for="editor">New Password Name</label>
          <textarea class="form-control" id="editor" name="password_detail" placeholder="Your Password Category name"><%= record.password_detail %></textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
      </div>
    </div>
    </div>
    </div>

    <a href="/view-all-password">View all Password List! </a>
    <!-- <h1>Logged In as: <% if(loginUser){ %><%= loginUser %><% } %></h1> -->
    <script>
      CKEDITOR.replace('editor');
    </script>

<%- include('footer') %>
