<%- include('header') %>

<div class="container-fluid mt-5">

  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="text-center dash1">Password List</div>
      <div class="dash2">

      <!-- <h1>Logged In as: <% if(loginUser){ %><%= loginUser %><% } %></h1> -->

    <table class="table table-striped mt-3 mb-3">
        <thead>
            <th>Password Category Name</th>
            <th>Project name</th>
            <th>Password Detail</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>

        </thead>
        <% if(records.length>0){
          records.forEach(function(row){
            %>
        <tbody>
           
              <tr>
               
                <td><%= row.password_category %></td>
                <td><%= row.project_name %></td>
                <td><%= row.password_detail %></td>

                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= row._id %>">
                 View
                </button></td>                
                <td><a href="/view-all-password/edit/<%= row._id %>"><button class="btn btn-success">Edit</button></a></td>
                <td><a href="/view-all-password/delete/<%= row._id %>" onclick="return confirm('Are you sure?')"><button class="btn btn-danger">Delete</button></a></td>

              </tr>

              <div class="modal fade" id="exampleModal<%= row._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Project: <i><%= row.project_name %></i></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <b>Password Category:</b>
                          </div>
                          <div class="col-md-6">
                            <%- row.password_category %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <b>Password Detail:</b>
                          </div>
                          <div class="col-md-6">
                            <%- row.password_detail %>
                          </div>
                        </div>
                      
                      </div>
                      <!-- <div><b>Password Category:</b><i><%- row.password_category %></i></div>
                      <div><b>Password Detail:</b><i><%- row.password_detail %></i></div> -->

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>
                </div>
              </div>
        </tbody>
        
        <%  })
      } %>
    </table>

    <% if (pages > 0) { %>
      <ul class="pagination text-center">
          <% if (current == 1) { %>
              <li class="disabled"><a>First</a></li>
          <% } else { %>
              <li><a href="/view-all-password/1">First</a></li>
          <% } %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
              <li class="disabled"><a>...</a></li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
              <% if (i == current) { %>
                  <li class="active"><a><%= i %></a></li>
              <% } else { %>
                  <li><a href="/view-all-password/<%= i %>"><%= i %></a></li>
              <% } %>
              <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
          <% } %>
          <% if (current == pages) { %>
              <li class="disabled"><a>Last</a></li>
          <% } else { %>
              <li><a href="/view-all-password/<%= pages %>">Last</a></li>
          <% } %>
      </ul>
  <% } %>

</div>
<div class="col-md-2">
</div>
</div>
</div>
</div>
    <!-- <%- include('footer') %> -->
